body {
  font-family: "Proza Libre", sans-serif;
}

h2 {
  font-weight: lighter;
  font-size: 20px;
}

label {
  line-height: 40px;
  font-weight: bold;
}

.background {
  background-color: #f0f0f0;
}

.test {
  background-color: #562a81;
}

.headertext {
  color: white;
  font-weight: normal;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.inputside {
  width: 100%;
  padding-top: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.notesupdown {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  resize: none;
}

.btn {
  background-color: #562a81;
  color: white;
  border: none;
  padding: 7px 12px;
  margin-top: 20px;
  border-radius: 5px;
}

.btno {
  text-align: end;
  margin-bottom: 10px;
}

.btn:hover {
  cursor: pointer;
}

.try {
  position: relative;
  bottom: 100px;
}
