body {
  font-family: "Proza Libre", sans-serif;
}

h2 {
  font-weight: lighter;
  font-size: 20px;
}

label {
  line-height: 40px;
  font-weight: bold;
}

.row {
  display: flex;
}

.anchor {
  position: relative;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: white;
}

.background {
  background-color: #f0f0f0;
}

.bakckgroundofcj {
  background-color: #562a81;
}

.headertext {
  color: white;
  font-weight: normal;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.inputside {
  width: 100%;
  padding-top: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.notesupdown {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  resize: none;
}

.btn {
  background-color: #562a81;
  color: white;
  border: none;
  padding: 7px 12px;
  margin-top: 20px;
  border-radius: 5px;
}

.btndiv {
  text-align: end;
  margin-bottom: 10px;
}

.btn:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
}

.li-image {
  width: 100%;
  border-radius: 1%;
}

li > h2 {
  margin-top: 0;
  font-weight: bold;
}

li {
  line-height: 1.5em;
  padding-bottom: 15px;
}

img {
  width: 100%;
}

.entries-btn {
  text-align: end;
}

.nah {
  background-color: #562a81;
  color: white;
  text-decoration: none;
  padding: 7px 12px;
  border-radius: 5px;
  height: 40%;
  margin-top: 5vh;
}

.justify-content {
  justify-content: center;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}
